div(class="my-[10px]")
	div(class="container")
		div(class="")
			a(href="/member/not-friend") Danh sách người dùng
			a(href="/member/friend") Danh sách bạn bè
			a(href="/member/request") Lời mời đã gửi
			a(href="/member/accept") Lời mời đã nhận