div(class=``)
	div(class=`container`)
		div(class=`py-[10px] flex justify-between font-font1 font-bold bg-color1 text-color2`)
			a(
				href=`/`
				class=``
			) HEADER
			a(
				href=`/${admin}`
				class=``
			) Trang chủ ADMIN
			div(class=`flex gap-[10px]`)
				a(href="/") Trang chủ
				a(href="/product")  Sản phẩm