div(class=``)
	div(class=`container`)
		div(class=`gap-[10px] uppercase bg-[#EEEEEE] text-[#] flex items-center justify-left `)
			div(class="flex items-center justify-center gap-[90px] bg-[#333333] hover:cursor-pointer px-[10px] py-[20px] ")
				ul(class="text-[white] ") DANH MỤC SẢN PHẨM
					li(class="")
				div(class="text-[white]") xzcxz
			div(class="flex items-center justify-between flex-1 [&>div]:hover:cursor-pointer [&>div]:hover:bg-[#FFC234] [&>div]:px-[10px] [&>div]:py-[20px]")
				div(class="") TRANG CHỦ
				div(class="") SẢN PHẨM
				div(class="") GIỚI THIỆU
				div(class="") TƯ VẤN CHỌN
				div(class="") TẠP CHÍ NƯỚC HOA
				div(class="") LIÊN HỆ