extends ../../../layouts/default.pug
include ../../../mixins/dieu-huong.pug
include ../../../mixins/friend-btn.pug

block main
	+dieu-huong("Danh sách người dùng")

	+friend-btn(infoUser)
	div(class="")
		div(class="container")
			each it in users
				div(class="" box-user)
					div(class="") #{it.fullName}
					button(btn-add-friend = it.id) Kết bạn
					button(btn-cancel-friend = it.id class=`hidden`) Hủy