extends ../../../layouts/default.pug
include ../../../mixins/dieu-huong.pug
include ../../../mixins/friend-btn.pug

block main
	+dieu-huong("Lời mời đã gửi")

	+friend-btn(infoUser)
	div(class="")
		div(class="container")
			//- each it in users
			//- 	div(class="" box-user)
			//- 		div(class="") #{it.fullName}
			//- 		button(btn-add-friend = it.id class=`hidden`) Kết bạn

			//- 		button(btn-cancel-friend = it.id ) Hủy
			div(class=`grid grid-cols-3 gap-[10px]`)
				each it in users
					div(class=`flex gap-[10px]` box-user) 
						div(class=`h-[50px]`)
							img(src=it.avatar, alt=it.fullName class=`h-full aspect-square rounded-[100%]`)
						div(class=``) 
							div(class=`font-bold text-[#333333] `) #{it.fullName}
							div(btn-add-friend = it.id class=`cursor-pointer hidden rounded-[10px] bg-xanh hover:bg-xanhhover px-[10px] py-[4px] text-[white] font-bold`) Kết bạn
							div(btn-cancel-friend = it.id class=`cursor-pointer rounded-[10px] bg-do hover:bg-dohover px-[10px] py-[4px] text-center text-[white] font-bold`) Hủy