include ../mixins/alear.pug
doctype html
html(lang="vi")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="author", content="Trần Kim Quang")
		meta(property="og:image" content="/media/logo/LOGO.png")
		meta(name="twitter:image" content="/media/logo/LOGO.png")
		script(src="https://cdn.tailwindcss.com/")
		script(src="/tailwind.config.js")
		link(href="/media/logo/logo.svg", rel="icon", type="image/x-icon")
		link(href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
		link(rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.6.0/css/all.css")
		link(rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.5.1/uicons-thin-rounded/css/uicons-thin-rounded.css")
		link(rel="stylesheet", href="https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css")
		link(rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-thin-straight/css/uicons-thin-straight.css')
		link(rel="stylesheet", href="/admin/css/style.css")
		title #{pageTitle}
	body(class=`font-THAI_CONG`)

		+alert-success(2000)
		+alert-error(2000)


		// Latest compiled and minified CSS
		//- link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
		// Latest Sortable


		div(class=`flex bg-adminColorTertiary` )
			include ../partials/sibar.pug
			div(class=`h-screen w-[5px] cursor-ew-resize` resize) 
			main(class=`h-screen overflow-y-auto scoll-auto w-full scrollbarmain`)
				include ../partials/header.pug
				div(class="py-[30px] bg-adminColorTertiary flex flex-col gap-[20px] mx-[20px]") 
					block main

	//- script(src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js")
	
	script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11") 
	script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
	script.
		AOS.init();
	script(src="/tinymce/tinymce.min.js") 
	script(src="/admin/js/tinymce-config.js")
	script(src="https://cdn.jsdelivr.net/npm/chart.js")
	script(src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js")
	script(src="/admin/js/sortable.js")
	script(src="/admin/js/style.js")
