.loading-typing span{
	animation: blink 1.5s infinite;
	height: 5px;
	width: 5px;
	background: #252525;
	border-radius: 50%;
	display: inline-block;
	margin: 0 3px;
}

.loading-typing span:nth-child(2){
	animation-delay: 0.2s;
}

.loading-typing span:nth-child(3){
	animation-delay: 0.4s;
}

@keyframes blink {
	0% {
		opacity: 0.1;
	}
	20% {
		opacity: 1;
	}
	100% {
		opacity: 0.1;
	}
}

.custom-file-container .input-container {
	display: none;
	height: 0px;
}

.custom-file-container .label-container {
	display: none;
}

.custom-file-container .image-preview {
	height: auto;
	padding: 0;
}

.custom-file-container .image-preview-item {
	height: 100px;
	width: 100px;
	aspect-ratio: 1/1;
	object-fit: cover;
	object-position: top;
}

[data-popper-placement]{
	position: absolute;
	inset: 0 !important;
	transform: 0 !important;
	left: 0 !important;
}