mixin cap-nhat(title, attributes)
	div(class="flex gap-[10px] text-[12px] px-[10px] py-[5px] border-[0px] bg-[#2463EB] text-[white] rounded-[5px] items-center")
		i(class=`fa-light fa-arrows-rotate`)
		button(
			type="submit"
			class=`inline-flex` 
		)&attributes(attributes) #{title}