mixin cap-nhat(title, attributes)
	button(
		type="submit"
		class=`text-[15px] px-[10px] border-[0px] bg-[#41404E] hover:rounded-[15px] text-[white] rounded-[10px] py-[10px] inline-flex` 
	)&attributes(attributes) #{title}