mixin khung-table(title)
	div(class=`rounded-[10px] mx-[20px] px-[30px]`)
		div(class="flex items-center justify-between border-b-[0.1px] border-b-[black]/5 hover:cursor-pointer hover:transition-all hover:duration-1000" show-box = "")
			div(class=`text-[18px] font-bold py-[10px] capitalize select-all text-[#1A1A26]`) #{title}
			i(class="fa-solid fa-angle-down transition-all duration-1000") 
		div(class="animate__animated transition duration-1000" content-box) 
			if(block)
				block