mixin quay-lai(title, link)
	div(class="flex items-center gap-[10px] text-[12px] rounded-[5px] py-[4px] px-[10px] bg-adminColorHighlight text-adminColorHeadline") 
		i(class="fa-duotone fa-solid fa-backward fa-beat-fade ")
		a(
			href=link
		) #{title}
