mixin select-tree(array, level = '', id)
	each it in array
		option(
				value=it.id
				selected = (it.id == id ? true : false)
			) #{level} #{it.title}
		if(it.children)
			+select-tree(it.children, level + "--", id)