mixin them-moi(title, link)
	div(class="flex gap-[10px] text-[12px] px-[10px] py-[5px] border-[0px] bg-[#2463EB] text-[white] rounded-[5px] items-center")
		i(class="fa-solid fa-up-right-from-square")
		a(
			href=link
			class=`inline-flex`
		) #{title}