mixin cal(quanlity, id)
	div(class="flex gap-[10px]") 
		div(class="rounded-[7px] border-[1px] border-[black]/10 aspect-1/1 w-[35px] h-[35px] truncate flex items-center justify-center hover:cursor-pointer" subtraction)
			div(class="text-chu text-[25px] font-normal" subtraction) -
		div(class="w-[70px] truncate rounded-[7px] border-[1px] border-[black]/10 aspect-1/1 h-auto px-[30px] truncate flex items-center justify-center hover:cursor-pointer")
			input(type="number" class="text-[16px] font-normal bg-transparent outline-none text-center" stock = id value=quanlity min="1") 
		div(class="rounded-[7px] border-[1px] border-[black]/10 aspect-1/1 w-[35px] h-[35px] truncate flex items-center justify-center hover:cursor-pointer" addition)
			div(class="text-chu text-[25px] font-normal" addition) +
