mixin copyright(infoWeb)
	- if(infoWeb.copyRight)
		div(class=``)
			div(class=`container`)
				div(class=`bg-[#F5F5F5] border-t-[#333333] border-t-[1px] relative h-[50px] bg-chu text-[#333333] `) 
					div(class=`flex text-center justify-center text-[#333333] items-center py-[20px]`) #{infoWeb.copyRight}