mixin section-1()
	div(class="section-1 bg-[#F2F0F1]" section-1)
		div(class="container")
			div(class="flex items-center flex-wrap justify-between lg:flex-col grid grid-cols-2 pt-[60px] truncate text-wrap")
				div(class="w-full z-10 lg:w-full")
					h1(class="uppercase text-color1 font-[900] sm:font-[700] text-[48px] xl2:text-[46px] xl:text-[38px] sm:text-[28px] mb-[30px] lg:mb-[20px] lg:mt-[40px] sm:leading-[34px] ") chuyên THỜI trang PHONG CÁCH, HIỆN ĐẠI
					div(class="text-color1/60 font-[400] text-[16px] xl:text-[13.5px] sm:text-[14px] leading-[22px] mb-[50px] lg:mb-[30px]") Chúng tôi chuyên cung cấp nhiều loại quần áo được chế tác tỉ mỉ, được thiết kế để làm nổi bật cá tính của bạn và đáp ứng phong cách của bạn.
					button(class="capitalize bg-[black] rounded-[62px] py-[16px] px-[54px] text-[white] font-[500] text-[16px] leading-[20.24px] mb-[50px] lg:mb-[30px] lg:w-full" button-section-1) Xem ngay
					div(class="flex lg:flex-wrap gap-[32px] xl:gap-[26px] lg:gap-[10px] lg:justify-between lg:items-center" )
						-
							let boxheaders = [
								{
									'title': '200',
									'sub': 'thương hiệu',
								},
								{
									'title': '2000',
									'sub': 'Sản Phẩm Chất Lượng',
								},
								{
									'title': '30000',
									'sub': 'Khách Hàng',
								}
							];
						each boxheader in boxheaders
							div(class=("flex flex-col items-center") )
								div(class=`flex`) 
									div(class="text-color1 font-[700] text-[40px] xl:text-[35px] sm:text-[24px] leading-[50.6px]" count-js-section-1) #{boxheader['title'].toLocaleString()}
									div(class="text-color1 font-[700] text-[40px] xl:text-[35px] sm:text-[24px] leading-[50.6px]") +
								div(class="capitalize text-color1/60 font-[400] text-[16px] xl2:text-[12px] leading-[22px] ") #{boxheader.sub}
				div(class="w-full ")
					img(src="/images/Rectangle 2.png", alt="" class=" w-full object-cover object-cover bottom ml-auto mr-auto")