extends ../../layouts/default.pug
include ../../mixins/dieu-huong.pug

block main
	+dieu-huong("Mật khẩu mới")
	div(class="container mt-[50px]") 
		div(class="flex justify-center items-center")
			form(action="/member/change-password" method="POST" class="bg-[white] p-[30px] rounded-[5px] w-1/2 flex flex-col gap-[15px]")
					div(class="flex flex-col gap-y-[10px]") 
						label(for="email" class=`text-chu`) Email
							span(class=`text-[red] text-[18px]`)  *
						div(class="border-[1px] border-[black]/30 rounded-[5px] flex gap-[10px] items-center px-[5px] py-[10px]")
							i(class="fa-regular fa-user text-[black]/80 icon px-[10px]")
							input(type="email", id="email" name="email" class=`outline-none w-full` placeholder="Ví dụ: kimquangst5@gmail.com" readonly value=email)
					div(class="flex flex-col gap-y-[10px]") 
						label(for="password" class=`text-chu`) Mật khẩu mới
							span(class=`text-[red] text-[18px]`)  *
						div(class="border-[1px] border-[black]/30 rounded-[5px] flex gap-[10px] items-center px-[5px] py-[10px]")
							i(class="fa-regular fa-unlock text-[black]/80 icon px-[10px]")
							input(type="password", id="password" name="password" 	class=`outline-none w-full` placeholder="Mật khẩu")
					div(class="flex flex-col gap-y-[10px]") 
						label(for="confirmPassword" class=`text-chu`) Xác nhận mật khẩu
							span(class=`text-[red] text-[18px]`)  *
						div(class="border-[1px] border-[black]/30 rounded-[5px] flex gap-[10px] items-center px-[5px] py-[10px]")
							i(class="fa-regular fa-unlock text-[black]/80 icon px-[10px]")
							input(type="password", id="confirmPassword" name="confirmPassword" 	class=`outline-none w-full` placeholder="Xác nhận mật khẩu")
					button(type="submit" class="bg-chu text-[white] p-[15px] text-center rounded-[6px]") Cập nhật
