extends ../../layouts/default.pug
include ../../mixins/dieu-huong.pug

block main
	+dieu-huong("Mã OTP")
	div(class="container mt-[50px]")
		div(class="relative top-0") 
			div(class="absolute bg-[#333333] text-[white] right-[50px] top-[0] rounded-[50%] w-[50px] h-[50px] flex items-center justify-center" count-s-otp)
				div(class="") 180
				span s
			div(class="flex justify-center items-center")
				form(action="/member/change-email/otp" method="POST" class="bg-[white] p-[30px] rounded-[5px] w-1/2 flex flex-col gap-[15px]")
						div(class="flex flex-col gap-y-[10px]") 
							label(for="email" class=`text-chu`) Email
								span(class=`text-[red] text-[18px]`)  *
							div(class="border-[1px] border-[black]/30 rounded-[5px] flex gap-[10px] items-center px-[5px] py-[10px]")
								i(class="fa-regular fa-user text-[black]/80 icon px-[10px]")
								input(type="text", id="email" name="email" class=`outline-none w-full` placeholder="Email của bạn" readonly value=user.email)
						div(class="flex flex-col gap-y-[10px]") 
							label(for="otp" class=`text-chu`) Mã OTP
								span(class=`text-[red] text-[18px]`)  *
							div(class="border-[1px] border-[black]/30 rounded-[5px] flex gap-[10px] items-center px-[5px] py-[10px]")
								i(class="fa-regular fa-user text-[black]/80 icon px-[10px]")
								input(type="number", id="otp" name="otp" class=`outline-none w-full` placeholder="Mã OTP gồm có 6 số đc gửi qua email")
						a(href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#all" class=`text-do` target="_blank") Đi đến gmail của bạn
						button(type="submit" class="bg-chu text-[white] p-[15px] text-center rounded-[6px]") Gửi mã OTP
