extends ../../layouts/default.pug
include ../../mixins/dieu-huong.pug

block main
	+dieu-huong("Đổi mật khẩu")
	div(class="container mt-[50px]") 
		div(class="flex justify-center items-center")
			form(action="/member/reset-password?_method=PATCH" method="POST" class="bg-[white] p-[30px] rounded-[5px] w-1/2 flex flex-col gap-[15px]")
					div(class="flex flex-col gap-y-[10px]") 
						label(for="passwordOld" class=`text-chu`) Mật khẩu cũ
							span(class=`text-[red] text-[18px]`)  *
						div(class="border-[1px] border-[black]/30 rounded-[5px] flex gap-[10px] items-center px-[5px] py-[10px]")
							i(class="fa-regular fa-unlock text-[black]/80 icon px-[10px]")
							input(type="password", id="passwordOld" name="passwordOld" class=`outline-none w-full` placeholder="Mật khẩu")
							i(class="fa-light fa-eye-slash mr-[10px] hover:cursor-pointer" icon-eye = "icon")
					div(class="flex flex-col gap-y-[10px]") 
						label(for="passwordNew" class=`text-chu`) Mật khẩu mới
							span(class=`text-[red] text-[18px]`)  *
						div(class="border-[1px] border-[black]/30 rounded-[5px] flex gap-[10px] items-center px-[5px] py-[10px]")
							i(class="fa-regular fa-unlock text-[black]/80 icon px-[10px]")
							input(type="password", id="passwordNew" name="passwordNew" class=`outline-none w-full` placeholder="Mật khẩu")
							i(class="fa-light fa-eye-slash mr-[10px] hover:cursor-pointer" icon-eye = "icon")
					div(class="flex flex-col gap-y-[10px]") 
						label(for="confirmPassword" class=`text-chu`) Xác nhận lại mật khẩu mới:
							span(class=`text-[red] text-[18px]`)  *
						div(class="border-[1px] border-[black]/30 rounded-[5px] flex gap-[10px] items-center px-[5px] py-[10px]")
							i(class="fa-regular fa-unlock text-[black]/80 icon px-[10px]")
							input(type="password", id="confirmPassword" name="confirmPassword" class=`outline-none w-full` placeholder="Mật khẩu")
							i(class="fa-light fa-eye-slash mr-[10px] hover:cursor-pointer" icon-eye = "icon")
					button(type="submit" class="bg-chu text-[white] p-[15px] text-center rounded-[6px]") Cập nhật

					

