include ../mixins/alear.pug
doctype html
html(lang="vi")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(property="og:image" content="/media/logo/LOGO.png")
		meta(name="author", content="Trần Kim Quang")
		meta(name="twitter:image" content="/media/logo/LOGO.png")
		script(src="https://cdn.tailwindcss.com/")
		script(src="/tailwind.config.js")


		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css")
		link(rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.6.0/css/all.css")
		link(href="/media/logo/logo.svg", rel="icon", type="image/x-icon")
		title #{pageTitle}

	body(class=`font-THAI_CONG bg-[#F5F5F5] select-none`)
		+alert-success(2000)
		+alert-error(2000)
		
		include ../partials/box-login.pug

		include ../partials/header.pug
		block main

		span(class="fixed bottom-[30px] right-[30px] aspect-square")
			span(class="animate-ping absolute inline-flex aspect-square w-full place-content-center rounded-full bg-sky-400 opacity-75")
			span(class="relative inline-flex rounded-full aspect-square place-content-center bg-[#DA0808]")
				div(class="flex flex-col place-content-center justify-center px-[10px] text-[white] gap-[5px]")
					i(class=`fa-solid fa-message-dots mx-auto`)
					div(class="text-[10px]") Liên hệ
		- if(infoWeb.copyRight)
			div(class="bg-[#F5F5F5] border-t-[#333333] border-t-[1px]")
				div(class="container")
					div(class="flex text-center justify-center text-[#333333] items-center py-[20px]") #{infoWeb.copyRight}

		script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11") 
		script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
		script(src="https://cdn.jsdelivr.net/npm/vuesax/dist/vuesax.umd.js")
		script(src="/js/style.js")
