doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(property="og:image" content="/media/logo/LOGO.png")
		meta(name="twitter:image" content="/media/logo/LOGO.png")
		script(src="https://cdn.tailwindcss.com/")
		script(src="/tailwind.config.js")
		link(href="/media/logo/logo.svg", rel="icon", type="image/x-icon")
		title #{pageTitle}
	body
		include ../partials/header.pug
		block main