extends ../../layouts/default.pug
include ../../mixins/khung-table.pug
include ../../mixins/box-dashboard.pug

block main

	div(class="flex grid grid-cols-3 gap-[10px] truncate")
		+khung-table("Sản phẩm")
			div(class="chart-container" style="position: relative;  width:100%")
				canvas(id="chart" class='' style="position: relative;  width:100%")
		+khung-table("Sản phẩm")
			div(class="chart-container" style="position: relative;  width:100%")
				canvas(id="chart" class='' style="position: relative;  width:100%")
		+khung-table("Sản phẩm")
			div(class="chart-container" style="position: relative;  width:100%")
				canvas(id="chart" class='' style="position: relative;  width:100%")

	div(class="flex grid grid-cols-2 gap-[10px] truncate")
		+khung-table("Sản phẩm")
			div(class="")
				+box-dashboard('Số lượng', dashboard.product.total)
				+box-dashboard('Hoạt động', dashboard.product.active)
				+box-dashboard('Dừng hoạt động', dashboard.product.inactive)
				+box-dashboard('Đã xóa', dashboard.product.deleted)
		+khung-table("Danh mục sản phẩm")
			div(class="")
				+box-dashboard('Số lượng', dashboard.product_category.total)
				+box-dashboard('Hoạt động', dashboard.product_category.active)
				+box-dashboard('Dừng hoạt động', dashboard.product_category.inactive)
				+box-dashboard('Đã xóa', dashboard.product_category.deleted)
		+khung-table("Tài khoản quản trị")
			div(class="")
				+box-dashboard('Số lượng', dashboard.account.total)
				+box-dashboard('Hoạt động', dashboard.account.active)
				+box-dashboard('Dừng hoạt động', dashboard.account.inactive)
				+box-dashboard('Dừng hoạt động', dashboard.account.deleted)

	div(class="flex grid grid-cols-3 gap-[10px]")
		+khung-table("Tài khoản người dùng")
			div(class="")
				+box-dashboard('Số lượng', dashboard.user.total)
				+box-dashboard('Hoạt động', dashboard.user.active)
				+box-dashboard('Dừng hoạt động', dashboard.user.inactive)
				+box-dashboard('Đã xóa', dashboard.user.deleted)
		+khung-table("Nhóm quyền")
			div(class="")
				+box-dashboard('Số lượng', dashboard.role.total)
				+box-dashboard('Đã xóa', dashboard.role.deleted)
		+khung-table("Giỏ hàng")
			div(class="")
				+box-dashboard('Số lượng', dashboard.cart.total)
				+box-dashboard('Trống', dashboard.cart.empty)
	
	div(class="flex grid grid-cols-3 gap-[10px]")
		+khung-table("Đơn hàng")
			div(class="")
				+box-dashboard('Số lượng', dashboard.order.total)
				+box-dashboard('Đã xử lí', 0)
				+box-dashboard('Chưa xử lí', dashboard.order.total)
				+box-dashboard('Tiền mặt', dashboard.order.cash)
				+box-dashboard('Chuyển khoản', dashboard.order.transfer)