extends ../../layouts/default.pug

block main
	div(class="container")
		div(class="h-screen")
			div(class="h-2/3 text-center flex justify-center") 
				img(src="https://res.cloudinary.com/djp6njpi7/image/upload/v1727503018/ut_fqkney.svg", alt="")