extends ../../layouts/default.pug
include ../../mixins/khung-table.pug
include ../../mixins/setting-box.pug
include ../../mixins/dieu-huong.pug


block main
	+dieu-huong("Giao diện")
	+khung-table("Thiết lập giao diện")
		div(class="flex grid grid-cols-4 gap-x-[20px]")
			+box-setting('fa-solid fa-gear-code', `/${admin}/interface/config`, 'Cài đặt giao diện', 'Cài đặt và thiết lập giao diện')
			+box-setting('fa-solid fa-pen-line', `/${admin}/interface/customize`, 'Chỉnh sửa giao diện', 'Chỉnh sửa file giao diện gốc')
			+box-setting('fa-brands fa-css3-alt', `/${admin}/interface/css`, 'Tùy chỉnh Css', 'Tùy chỉnh Css cho Website')
			+box-setting('fa-brands fa-js', `/${admin}/interface/javascript`, 'Tùy chỉnh JavaScript', 'Tùy chỉnh JavaScript cho Website')
