extends ../../layouts/default.pug
include ../../mixins/box-product.pug
include ../../mixins/pagination.pug


block main
	div(class="select-none py-[40px]")
		div(class="container")
			div(class=`p-[28px] bg-[white] rounded-[7px]`)

				div(class=`text-[${BOX ? BOX.mauGiaGoc : ''}] flex justify-center`)
					- if(product)
						div(class="uppercase text-[25px] font-[700] w-max flex flex-col justify-center mb-[20px]") DANH SÁCH SẢN PHẨM
				div(class="grid grid-cols-4 flex gap-[10px] ")
					- if(product)
						+box-product(product)
	- if(pagination)
		+pagination(pagination)