header(class=`sticky top-0 h-[50px] flex justify-between bg-[white]`)
	div(class=`flex justify-between w-full`)
		div(class=`font-bold text-[30px] px-[10px]`)
			a(href=`/${admin}`) #{header}
		div(class=`flex gap-[10px] font-bold items-center`)
			a(href="/admin") Trang chủ
			a(href=`/${admin}/product`) Sản phẩm